@use "../../globals.module.scss" as *;

.hero {
  padding: 0 var(--space-xl);
  background-color: var(--light-beige);
  background-image: url('/jt-web-portfolio/img/circles.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 600px;
  height: calc(100vh - 102px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media screen and (max-width: 1280px) {
    padding: 0 var(--space-l);
  }

  @media screen and (max-width: 680px) {
    padding: 0 var(--space-m);
  }
}

.heroContent {
  width: 33vw;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  margin-bottom: var(--space-xl);

  @media screen and (max-width: 1280px) {
		width: 100%;
    margin-bottom: 0;
    margin-top: 20vh;
	}
}

.heroFooter {
  width: 50vw;
  margin-bottom: var(--space-xl);

  @media screen and (max-width: 1280px) {
		width: 100%;
    margin-top: auto;
    margin-bottom: var(--space-l);
	}

  @media screen and (max-width: 680px) {
    margin-bottom: var(--space-m);
  }
}

.services {
  display: flex;
  gap: var(--space-s) var(--space-m);
  margin: var(--space-m) 0;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;

  @media screen and (max-width: 680px) {
    gap: var(--space-xs);
    margin: var(--space-s) 0;
  }

  li {
    background-color: var(--beige);
    border-radius: 6px;
    padding: var(--space-xs) var(--space-s);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 680px) {
      padding: var(--space-xs);
    }
  }
}